@font-face {
    font-family: PF_M;
    src: url("../font/PingFang\ Medium.otf");
}

@font-face {
    font-family: PF_H;
    src: url("../font/PingFang\ Heavy.otf");
}

@font-face {
    font-family: PF_SC;
    src: url("../font/PingFang-SC-Semibold.otf");
}

html, body {
    height: auto
}

ul {
    margin-bottom: 0;
    padding: 0;
}

.news-title {
    position: relative;
    /* border-bottom: 0.2rem solid #e5e8f0; */
}

.news-module {
    background: rgb(45, 43, 92);
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    cursor: pointer;
}

.news-module>li {
    /* width: 20%; */
    margin-right: .8rem;
    text-align: center;
    font-family: PF_M;
    font-size: .24rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: .33rem;
    /* background-color: #FFFFFF; */
}

.news-module>li:nth-child(2) {
    margin-left: 2.5rem;
}

.news-module>div:first-child {
    display: flex;
    align-items: center;
}

.news-slider {
    background-color: #90FD99;
    height: 0.035rem;
    width: .25rem;
    transition: 0.5s;
    position: absolute;
    bottom: -0.2rem;
    left: 0rem;
    border-radius: 0.3rem;
    top: 1rem;
}

.news-module .active {
    font-family: PF_H;
    font-size: .24rem;
    color: #90FD99;
}

.logo {
    width: 2.36rem;
    height: .7rem;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
}

.footerlogo {
    width: 4rem;
    height: 1.2rem;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
}

/* .logo_text {
    width: 200px;
    height: 70px;
    background: url("../img/logo_text.png") no-repeat;
    background-size: contain;
} */

#carousel {
    height: 7rem;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    height: 9.76rem;
    background: #90FD99;
    background-image: url("../img/产品中心.png");
    background-size: contain;
}

#box2 {
    height: 8.73rem;
    background: #2D2B5C;
    background-image: url("../img/行业.png");
    background-size: contain;
}

#box3 {
    height: 8.33rem;
    background: #90FD99;
    background-image: url("../img/关于我们.png");
    background-size: contain;
}

#box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.33rem;
    background: lightcyan;
    background-image: url("../img/我们团队.png");
    background-size: contain;
}

#box5 {
    height: 2.47rem;
    background: #FFFFFF;
    background-image: url("../img/合作商.png");
    background-size: contain;
}

.memberitem {
    width: 2.75rem;
    height: 3.73rem;
    background: #333333;
    cursor: pointer;
    margin: 1.8rem .4rem 0 .4rem;
}

.memberitem img {
    width: inherit;
    height: inherit;
}

.memberitem>img:first-child {
    width: inherit;
    height: inherit;
    display: none;
    position: absolute;
}

footer {
    height: 8.33rem;
    background: #333333;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0 3.6rem;
    ;
}

footer>div:first-child {
    height: 3.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer>div:first-child>div>img {
    width: 1.4rem;
    height: 1.2rem;
}

footer>div:nth-child(2) {
    width: 12rem;
    height: .02rem;
    background: #999999;
}

footer>div:nth-child(4) {
    text-align: center;
    padding: .5rem 0 .4rem 0;
}

.undertext {
    font-family: PF_SC;
    font-size: .14rem;
    letter-spacing: 0;
    text-align: justify;
    line-height: .2rem;
    display: inline-block;
    margin-right: .2rem;
}

.footerlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .56rem 0;
}

.footerlink ul>li {
    font-family: PF_M;
    font-size: .18rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    padding-bottom: .3rem;
}

.footerlink ul>li:first-child {
    font-family: PF_SC;
    font-size: .24rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    cursor: default;
    padding-bottom: .4rem;
}

#goToTop {
    display: none;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.4);
    box-shadow: 0 0 .1rem .03rem rgba(0, 0, 0, 0.4) inset;
    background-size: contain;
    cursor: pointer;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    overflow: hidden;
}

#goToTop:after {
    content: " ";
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    height: .8rem;
    width: .8rem;
    display: block;
    position: relative;
    top: .46rem;
    /* border-top: solid rgba(0, 0, 0, 0.4);
    border-left:solid rgba(0, 0, 0, 0.4) ; */
    box-shadow: 0 0 .1rem .03rem rgba(0, 0, 0, 0.4);
}