html, body {
    height: auto
}

ul {
    margin-bottom: 0;
    padding: 0;
}

.news-title {
    /* border-bottom: 0.2rem solid #e5e8f0; */
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.news-module {
    background: rgb(45, 43, 92);
    height: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 3.6rem 0 3.61rem;
}

ul li {
    list-style: none;
    cursor: pointer;
}

.news-module>li {
    /* width: 20%; */
    margin-left: .59rem;
    text-align: center;
    font-size: .24rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: .33rem;
    /* background-color: #FFFFFF; */
}

.news-module>li:nth-child(2) {
    margin-left: 3.19rem;
}

.news-slider {
    background-color: #90FD99;
    height: 0.035rem;
    width: .25rem;
    transition: 0.5s;
    position: absolute;
    bottom: -0.2rem;
    left: 0rem;
    border-radius: 0.3rem;
    top: 1rem;
}

.news-module .active {
    font-size: .24rem;
    color: #90FD99;
}

.logo {
    width: 2.36rem;
    height: .7rem;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    margin-left: 0;
}

#carousel {
    height: 7rem;
    margin-top: 1.4rem;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    height: 9.76rem;

    background-image: url("../img/产品中心.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#box2 {
    height: 8.334rem;
    background-image: url("../img/行业.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#box3 {
    height: 8.33rem;

    background-image: url("../img/关于我们.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.33rem;

    background-image: url("../img/我们团队.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#box5 {
    height: 2.47rem;

    background-image: url("../img/合作商.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.memberitem {
    width: 2.75rem;
    height: 3.73rem;
    cursor: pointer;
    margin: 1.8rem .4rem 0 .4rem;
}

.memberitem img {
    width: inherit;
    height: inherit;
}

.memberitem>img:first-child {
    width: inherit;
    height: inherit;
    display: none;
    position: absolute;
}

footer {
    height: 8.33rem;
    background: #333333;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0 3.6rem;
}
.footerlogo {
    width: 4.05rem;
    height: 1.2rem;
    background: url("../img/footerlogo.png") no-repeat;
    background-size: contain;
    margin: 1.21rem 0 1rem 0;
}
footer>div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer>div:nth-child(2) {
    width: 12rem;
    height: .02rem;
    background: #999999;
}
footer>div:nth-child(3) {
    height: 2.33rem;
}
footer>div:nth-child(4) {
    text-align: center;
    height: .2rem;
}

.undertext {
    font-size: .14rem;
    letter-spacing: 0;
    text-align: justify;
    line-height: .2rem;
    display: inline-block;
    margin-right: .2rem;
    margin: 0 0 .6rem 0;
}

.footerlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .54rem 0 1.33rem 0;
}

.footerlink ul>li {
    font-size: .18rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    margin-bottom: .2rem;
}

.footerlink ul>li:first-child {
    font-size: .24rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    cursor: default;
    margin-bottom: .3rem;
}